.devotionalium .versetext
{
  font-style: italic;
}
.devotionalium .versetext.original
{
  font-style: normal;
}
.devotionalium .reference-link-container
{
  text-align: right;
}
.devotionalium .versetext.hebrew, .devotionalium .versetext.arabic {
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
}
.devotionalium .versetext.hebrew {
  line-height: 1.2;
}
.devotionalium .versetext.greek {
  font-size: 1.1em;
}
